/* 
CSS RESET STYLINGS START
Author: Richard Clark 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* CSS RESET END */

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  scrollbar-width: thin; /* "auto" or "thin"  */
  background-color: rgb(32, 32, 32);
}
a {
  color: rgb(173, 170, 165);
}
footer {
  text-align: center;
  color: rgb(173, 170, 165);
  font-size: 11px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer a {
  font-size: 11px;
  text-decoration: none;
  color: #9fedd7;
}
footer a:hover {
  text-decoration: underline;
}

div::-webkit-scrollbar {
  width: 3px;
}
div::-webkit-scrollbar-track {
  background: #9fedd7;
}
div::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;

  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

/*    */
.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 3%;
  margin-right: 5%;
  margin-top: 2%;

  min-height: 600px;
}
.mini-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  border: 1px solid #edeae5;
  padding: 30px;
}
.COF-wheel {
  flex-direction: column;
  min-width: 555px; /* adjust according to width to minimize shifting*/
  min-height: 680px;
}
.introBox {
  font-kerning: auto;
  line-height: 1.5;
  font-weight: 300;
  font-size: 16px;
}
.introBox a {
  color: rgb(173, 170, 165);
  text-decoration: underline;
}
.introBox a:hover {
  color: #9fedd7;
  text-decoration: underline;
}
.introBox p {
  margin-left: 25px;
}
.song-detail {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  width: auto;
  height: auto;
  min-width: 580px;
  min-height: 580px;
  max-width:1000px;

  padding: 30px;
  margin-left: 30px;
  border-radius: 10px;
  background-color: #edeae5;
}
.song-detail-left {
  flex-direction: column;
  width: auto;
  min-width: 253px; /* adjust according to longest song title to minimize shifting*/
  overflow: hidden;
}

.song-detail-right {
  flex-direction: column;

  min-width: 400px;
  width: auto;
}
.right-inner-left {
  display: flex;
  flex-direction: row;
}

#song-info {
  min-width: 325px;
  max-width: 325px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 5px;
  scrollbar-width: thin;
}

#colourMusicScale {
  min-width: 340px;
  margin-left: 60px;
}
#scaleBar {
  width: inherit;
  max-width: 788px;
  text-align: right;
  font-size: 15px;
}
#scaleBar button {
  padding: 2px;
  margin-left: 7px;
  font-size: 15px;
  border: 0;
  background-color: white;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}
#scaleBar button:hover {
  color: white;
  background-color: #9fedd7;
}

#blinder {
  text-align: center;
}
#blinder hr {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  opacity: 0.5;
  margin-top: -14px;
}
#blinder label {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  padding-bottom: 3px;
  opacity: 0.2;
  cursor: pointer;
}
#blinder label:hover {
  opacity: 0.8;
}

.check-box {
  opacity: 0;
}
#swatchContainer {
  /*min-width: 632px;*/
  /*min-width:790px;*/
  font-size: 0; /* remove white space for seamless gap*/
  max-height: 750px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-color: #9fedd7;
  scrollbar-width: thin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 788px;
}
.span-chordHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}
.wrap-chord-swatch {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.right-inner-right {
  min-width: 632px;
  max-width: 632px;
}
.p-subheader {
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.list-container {
  display: flex;

  flex-direction: row;
}
.select-container {
  text-align: center;
}
.select-descriptor {
  margin-right: 5px;
}
.description-header {
  font-size: 24px;
  font-weight: 600;
  display: block;
  padding-bottom: 10px;
  font-family: "Architects Daughter", cursive;
}

u {
  text-decoration: none;
  background-color: #9fedd7;
  padding: 3px;
}
select {
  width: auto;
  height: auto;
  font-size: 100%;
  font-weight: 600;
  cursor: pointer;
  outline: 0;
  border-radius: 0;
  background-color: #9fedd7;
  border: none;
  border-bottom: 2px solid #edeae5;
  color: rgb(50, 50, 50);
  outline: 0;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Adding transition effect */
  transition: color 0.3s ease, background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}
/* For IE10 */
select::-ms-expand {
  display: none;
}
select:hover {
  color: white;
  background-color: #9fedd7;
  border-bottom-color: #edeae5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: inherit;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  /*border: none;*/
}

li a {
  text-decoration: none;
  color: #000;

  display: block;
  min-width: 180px;
  width: auto;
  padding-top: 12px;
  padding-bottom: 3px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 18px;
  background: #f6f6f6 !important;
  text-decoration: none;
}
li a:active {
  background: #f6f6f6;
  text-decoration: none;
}
li a:visited {
  background: #f6f6f6;
  text-decoration: none;
}
a {
  text-decoration: none;
  outline: 0;
}
/*     */

.boundary {
  pointer-events: all;
}

.polygon {
  opacity: 0.2;
}
.polyTextColor {
  pointer-events: none;
}

.innerRing {
  transform-origin: center;
  filter: drop-shadow(-1px 6px 2px rgba(50, 50, 0, 0.5));
  fill: rgb(200, 200, 200);
}
.outerRing {
  transform-origin: center;
  filter: drop-shadow(-1px 6px 2px rgba(50, 50, 0, 0.5));
  fill: rgb(235, 235, 235);
}
.polygon {
  fill: rgb(200, 200, 200);
}

.eachSwatch:hover {
  cursor: pointer;
  background-color: #9fedd7;
  text-decoration: none;
  min-width: 45px;
  margin-top: 3px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
.slider {
  width: 100%;
  min-width: 792px;
  max-width: 792px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.radio-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-top: 18px;
  font-size: 15px;
}
.input {
  margin-left: 8px;
  margin-right: 5px;
}
.error-msg {
  display: inline-block;
  padding-top: 80px;
  min-width: 796px;
  text-align: left;
  position: relative;
}
.bounding-border {
  font-weight: 300;
  font-size: 15px;
  display: inline-block;
  border: 2px solid rgb(181, 179, 144);
  border-radius: 7px;
  padding: 15px;
}
.error-msg img {
  padding-top: 15px;
  display: inline-block;

  width: auto;
  height: auto;
  width: 150px;
  height: 360px;
  transform-origin: center;
  position: absolute;
}
#hoverGhost:hover {
  visibility: hidden;
}
#hoverGhostBoo {
  z-index: -1;
}
#home {
  display: block;
  font-weight: 400;
}
#home:hover {
  cursor: pointer;
  text-decoration: underline;
}
#help {
  font-family: "Architects Daughter", cursive;
  margin-top: 0px;
  position: absolute;
  z-index: 100;
  min-width: 550px;
  max-width: 550px;

  text-align: right;
}
#help-box {
  display: inline-block;
  
  max-width: 550px;
  max-height: 600px;

  text-align: left;
  border-radius: 0px;
  padding: 15px;
  margin-bottom: 3px;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: thin;
  font-size: 15px;

  background-color: #edeae5;
  filter: drop-shadow(-1px 2px 2px rgba(50, 50, 0, 0.5));
}
#help-box p {
  padding-top: 5px;
}
#help-box img {
  padding-top: 10px;
  padding-bottom: 15px;
  width: 35%;
  height: auto;
}
#help-box a {
  font-family: "Architects Daughter", cursive;
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 3px;
  width: auto;
}
#help-box a:hover {
  color: #333;
}
#help-box a:visited {
  text-decoration: none;
}
#help-box a:active {
  color: #666;
}
#help button {
  filter: drop-shadow(-1px 2px 2px rgba(50, 50, 0, 0.5));
  width: auto;
  height: auto;
  font-size: 100%;
  font-weight: 600;
  cursor: pointer;
  outline: 0;
  border-radius: 0px;
  background-color: #edeae5;
  border: none;
  color: rgb(173, 170, 165);

  outline: 0;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Adding transition effect */
  transition: color 0.3s ease, background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}
#help button:hover {
  color: #333;
}
.helpBoundary {
  padding-top: 3px;
  border-bottom: 1px solid rgb(173, 170, 165);
  text-align: center;
}
#bgImage {
  width: 519px;
  height: 513px;
}
#appTitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#appTitleFont {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: "Architects Daughter", cursive;
  font-size: 40px;
  color:#333;
  width: 280px;
  display: inline-block;
}
#appIcon {
  margin-top: 70px;
  transform-origin: center;
  transform: scale(0.58);
}
#sliderBtn
{
  width: 70px;
  
}

#scroller td
{
  text-align: center;
}
.fixedImgHolder
{
  width:519px;
  height:513px;
  background-image:url(img/UI/mirror1_trimmed.png);
  background-repeat:no-repeat;background-size:519px 513px;
}
.fixedLabelHolder
{
  width:519px;
  height:110px;
  background-image:url(img/UI/ribbon_3000.png);
  background-repeat:no-repeat;background-size:519px 110px;
}